.add-head{
    width:100%;
    height: 76px;
    border-bottom: 1px solid #e3e3e3;
    box-shadow: 0 0 2px #E3E3E3;
}
.add-body{
    width:100%;
    height: 581px;
    background-color: #F9F9F9;
    padding-top: 30px;
}
.head-container,.body-container{
    width: 990px;
    height: 100%;
    margin: auto;
}
.head-title{
    line-height: 40px;
    font-weight: 400;
    font-size: 25px;
    border-right: 2px solid gray;
    width: 160px;
    height: 40px;
    float: left;
}
.add-company{
    padding: 0px 0 0 10px;
    font-size: 20px;
    color: gray;
    line-height: 58px;
    font-weight: 100;
}
.add-box{
    width: 80%;
    margin: auto;
    height: 400px;
    box-shadow: 0 0 5px #c7c5c5;
    background: #fff;
    border: 1px solid #e7e7e7;
    padding: 30px 50px;
}
.step-bar{
    width: 894px;
    height: 5px;
    margin: auto;
}
.step-bar ol{
    float:left;width:100%;padding:0;margin:0;list-style-type:none;
    background-color: #c7c5c5;
}
.step-bar ol li{
    display: inline;
}
.step-div{
    width:33.33%;height:5px;float:left;
}
.step-bar-active{
    background-color: #3c8dbc;
}