.index{
    width: 100%;
    background-color: #fff;
    padding-top: 10px;
    height: 600px;
}
.index-title{
    border-bottom: 1px solid #ebeef5;
    padding: 0px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    p{
        font-size: 14px;
    }
}
.index-body{
    padding: 10px 20px 0px 20px;   
}
.index-body1{
    display: flex;
    justify-content: space-between;
}
.index-body-menu{
    width: 15%;
}
.add-tip{
    background-color: #ecf8ff;
    border-left: 5px solid #50bfff;
    padding: 10px;
    border-radius: 5px;
    font-size: 10px;
}
.index-body-title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px 0px 10px 0px;
    p{
        font-size: 14px;
        span{
            color: red;
        }
    };

}
.link {
    padding: 0px 0px 0px 10px;
    font-size: 14px;
    color: #409eff;
    text-decoration: none;
}
.approval-state{
    padding: 0px 5px;
    font-size: 11px;
    border-radius: 6px;
    display: inline-block;
}
.unlook{
    border: 1px solid #333333;
}